
.small-title {
	font-size: 40px;
	margin-left: -130px;
	color: $secondary-text-color;
}

.large-title {
	font-size: 90px;
	margin-left: -10px;
	color: #596579;
}

.title-wrapper{
    bottom: 0;
    left: 0;
}

.sub-title {
    @extend .sans-serif-font-bold;
    color: $secondary-text-color;
    font-size: 1.011rem; /* 2.618 - 0.107 */
}