// ------------------------------
// variables
// ------------------------------

$accent-color: #596579;
$accent-hover-color: darken($accent-color, 8%);

$text-color: #333;
$post-title-color: #757575;
$secondary-text-color: #aaa;

$line-color: #e6e6e6;
$light-line-color: #ededed;
$hide-line-numbers: true;

$border-radius-size: 4px;
$border-style: 1px solid $light-line-color;
